image sdcard.img {
	hdimage {
	}

	partition spl {
		in-partition-table = "no"
		offset = 128K
		image = "MLO"
	}

	partition u-boot-img {
		in-partition-table = "no"
		offset = 0x60000
		image = "u-boot.img"
	}

	partition falcon-args {
		in-partition-table = "no"
		offset = 0x2A0000
		size = 256K
		image = "args"
	}

	partition falcon-kernel {
		in-partition-table = "no"
		offset = 0x2E0000
		size = 12M
		image = "uImage"
	}

	# keep clear of the raw falcon-kernel region above (ends at 0x2E0000 + 12M)
	partition rootfs {
		partition-type = 0x83
		offset = 16M
		image = "rootfs.squashfs"
		size = 512M
	}
}
